.menu {
   width: 700px; /* ширина обертки меню */
   height: 30px; /* высота */
   margin: 0 auto; /* центрирование обертки! меню */
   background: #30a8c3; /* цвет фона */
   overflow: hidden; /* прячем пункты, выходящие за область обертки */
   position: relative; /* относительное позиционирование */
}
.menu  ul{
   float: left; /* прижимаем меню к левому краю обертки */
   position: relative; /* относительное позиционирование */
   left: 50%; /* сдвигаем меню вправо */
}
.menu   ul li{
   list-style: none; /* убираем маркеры */
   float: left; /* выстраиваем пункты меню по горизонтали */
   position: relative; /* относительное позиционирование */
   right: 50%; /* сдвигаем каждый пункт влево */
}
.menu ul li a{
   text-decoration: none; /* убираем подчеркивание ссылки */
   display: block; /* делаем ссылки блочными */
   padding: 2px 10px; /* отступы */
   color: #FFFFFF; /* цвет ссылок */
}